{{#each posts as |post|}}
<a href="/comments/{{post.id}}">
    <div id="homepage-card" class="card">
        <div id="card-title">
            <h3>{{post.title}}</h3>
            <p>Posted by {{post.user.username}} on {{format_date post.date_created}}</p>
        </div>
        <div id="card-body">
            <p>{{post.content}}</p>
        </div>
    </div>
</a>
{{/each}}